<XSystem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="XSystem.xsd">
  <System>
    <Nodes>
      <Node number="32770" jtagId="0x6633" userId="0x00000000" processorMhz="600" interconnectMhz="600" referenceMhz="100">
        <Switch sLinks="9"/>
        <Processor number="0" numThreads="8" numTimers="10" numLocks="4" numSyncs="7" numChanEnds="32" numClkBlks="6" codeReference="tile[0]">
          <MemoryController>
            <Ram base="0x80000" size="0x80000"/>
            <ExtMem base="0x10000000" size="0x10000000"/>
            <SwMem base="0x40000000" size="0x40000000"/>
          </MemoryController>
        </Processor>
        <Processor number="1" numThreads="8" numTimers="10" numLocks="4" numSyncs="7" numChanEnds="32" numClkBlks="6" codeReference="tile[1]">
          <MemoryController>
            <Ram base="0x80000" size="0x80000"/>
            <ExtMem base="0x10000000" size="0x10000000"/>
            <SwMem base="0x40000000" size="0x40000000"/>
          </MemoryController>
        </Processor>
      </Node>
    </Nodes>
    <Connections>
      <PLink width="9" pLink="32770,0,0" outBufferBytes="4" inBufferBytes="5"/>
      <PLink width="9" pLink="32770,0,1" outBufferBytes="4" inBufferBytes="5"/>
      <PLink width="9" pLink="32770,0,2" outBufferBytes="4" inBufferBytes="5"/>
      <PLink width="9" pLink="32770,0,3" outBufferBytes="4" inBufferBytes="5"/>
      <PLink width="9" pLink="32770,1,0" outBufferBytes="4" inBufferBytes="5"/>
      <PLink width="9" pLink="32770,1,1" outBufferBytes="4" inBufferBytes="5"/>
      <PLink width="9" pLink="32770,1,2" outBufferBytes="4" inBufferBytes="5"/>
      <PLink width="9" pLink="32770,1,3" outBufferBytes="4" inBufferBytes="5"/>
    </Connections>
    <JtagChain>
      <Node id="32770"/>
    </JtagChain>
    <Pins>
      <Pin name="0:X0D00">
        <Port bitNum="0" core="0" name="XS1_PORT_1A" node="32770" priority="0"/>
        <XLink bitNum="3" dir="in" node="32770" number="4"/>
      </Pin>
      <Pin name="0:X0D01">
        <Port bitNum="0" core="0" name="XS1_PORT_1B" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X0D02">
        <Port bitNum="0" core="0" name="XS1_PORT_4A" node="32770" priority="0"/>
        <Port bitNum="0" core="0" name="XS1_PORT_8A" node="32770" priority="1"/>
        <Port bitNum="0" core="0" name="XS1_PORT_16A" node="32770" priority="2"/>
        <Port bitNum="20" core="0" name="XS1_PORT_32A" node="32770" priority="3"/>
        <XLink bitNum="0" dir="in" node="32770" number="7"/>
      </Pin>
      <Pin name="0:X0D03">
        <Port bitNum="1" core="0" name="XS1_PORT_4A" node="32770" priority="0"/>
        <Port bitNum="1" core="0" name="XS1_PORT_8A" node="32770" priority="1"/>
        <Port bitNum="1" core="0" name="XS1_PORT_16A" node="32770" priority="2"/>
        <Port bitNum="21" core="0" name="XS1_PORT_32A" node="32770" priority="3"/>
        <XLink bitNum="0" dir="out" node="32770" number="7"/>
      </Pin>
      <Pin name="0:X0D04">
        <Port bitNum="0" core="0" name="XS1_PORT_4B" node="32770" priority="0"/>
        <Port bitNum="2" core="0" name="XS1_PORT_8A" node="32770" priority="1"/>
        <Port bitNum="2" core="0" name="XS1_PORT_16A" node="32770" priority="2"/>
        <Port bitNum="22" core="0" name="XS1_PORT_32A" node="32770" priority="3"/>
      </Pin>
      <Pin name="0:X0D05">
        <Port bitNum="1" core="0" name="XS1_PORT_4B" node="32770" priority="0"/>
        <Port bitNum="3" core="0" name="XS1_PORT_8A" node="32770" priority="1"/>
        <Port bitNum="3" core="0" name="XS1_PORT_16A" node="32770" priority="2"/>
        <Port bitNum="23" core="0" name="XS1_PORT_32A" node="32770" priority="3"/>
      </Pin>
      <Pin name="0:X0D06">
        <Port bitNum="2" core="0" name="XS1_PORT_4B" node="32770" priority="0"/>
        <Port bitNum="4" core="0" name="XS1_PORT_8A" node="32770" priority="1"/>
        <Port bitNum="4" core="0" name="XS1_PORT_16A" node="32770" priority="2"/>
        <Port bitNum="24" core="0" name="XS1_PORT_32A" node="32770" priority="3"/>
      </Pin>
      <Pin name="0:X0D07">
        <Port bitNum="3" core="0" name="XS1_PORT_4B" node="32770" priority="0"/>
        <Port bitNum="5" core="0" name="XS1_PORT_8A" node="32770" priority="1"/>
        <Port bitNum="5" core="0" name="XS1_PORT_16A" node="32770" priority="2"/>
        <Port bitNum="25" core="0" name="XS1_PORT_32A" node="32770" priority="3"/>
      </Pin>
      <Pin name="0:X0D08">
        <Port bitNum="2" core="0" name="XS1_PORT_4A" node="32770" priority="0"/>
        <Port bitNum="6" core="0" name="XS1_PORT_8A" node="32770" priority="1"/>
        <Port bitNum="6" core="0" name="XS1_PORT_16A" node="32770" priority="2"/>
        <Port bitNum="26" core="0" name="XS1_PORT_32A" node="32770" priority="3"/>
        <XLink bitNum="1" dir="out" node="32770" number="7"/>
      </Pin>
      <Pin name="0:X0D09">
        <Port bitNum="3" core="0" name="XS1_PORT_4A" node="32770" priority="0"/>
        <Port bitNum="7" core="0" name="XS1_PORT_8A" node="32770" priority="1"/>
        <Port bitNum="7" core="0" name="XS1_PORT_16A" node="32770" priority="2"/>
        <Port bitNum="27" core="0" name="XS1_PORT_32A" node="32770" priority="3"/>
        <XLink bitNum="2" dir="out" node="32770" number="7"/>
      </Pin>
      <Pin name="0:X0D10">
        <Port bitNum="0" core="0" name="XS1_PORT_1C" node="32770" priority="0"/>
        <XLink bitNum="4" dir="in" node="32770" number="4"/>
      </Pin>
      <Pin name="0:X0D11">
        <Port bitNum="0" core="0" name="XS1_PORT_1D" node="32770" priority="0"/>
        <XLink bitNum="2" dir="in" node="32770" number="4"/>
      </Pin>
      <Pin name="0:X0D12">
        <Port bitNum="0" core="0" name="XS1_PORT_1E" node="32770" priority="0"/>
        <XLink bitNum="4" dir="in" node="32770" number="7"/>
      </Pin>
      <Pin name="0:X0D13">
        <Port bitNum="0" core="0" name="XS1_PORT_1F" node="32770" priority="0"/>
        <XLink bitNum="3" dir="in" node="32770" number="7"/>
      </Pin>
      <Pin name="0:X0D14">
        <Port bitNum="0" core="0" name="XS1_PORT_4C" node="32770" priority="0"/>
        <Port bitNum="0" core="0" name="XS1_PORT_8B" node="32770" priority="1"/>
        <Port bitNum="8" core="0" name="XS1_PORT_16A" node="32770" priority="2"/>
        <Port bitNum="28" core="0" name="XS1_PORT_32A" node="32770" priority="3"/>
        <XLink bitNum="1" dir="in" node="32770" number="4"/>
      </Pin>
      <Pin name="0:X0D15">
        <Port bitNum="1" core="0" name="XS1_PORT_4C" node="32770" priority="0"/>
        <Port bitNum="1" core="0" name="XS1_PORT_8B" node="32770" priority="1"/>
        <Port bitNum="9" core="0" name="XS1_PORT_16A" node="32770" priority="2"/>
        <Port bitNum="29" core="0" name="XS1_PORT_32A" node="32770" priority="3"/>
        <XLink bitNum="0" dir="in" node="32770" number="4"/>
      </Pin>
      <Pin name="0:X0D16">
        <Port bitNum="0" core="0" name="XS1_PORT_4D" node="32770" priority="0"/>
        <Port bitNum="2" core="0" name="XS1_PORT_8B" node="32770" priority="1"/>
        <Port bitNum="10" core="0" name="XS1_PORT_16A" node="32770" priority="2"/>
        <XLink bitNum="0" dir="out" node="32770" number="4"/>
      </Pin>
      <Pin name="0:X0D17">
        <Port bitNum="1" core="0" name="XS1_PORT_4D" node="32770" priority="0"/>
        <Port bitNum="3" core="0" name="XS1_PORT_8B" node="32770" priority="1"/>
        <Port bitNum="11" core="0" name="XS1_PORT_16A" node="32770" priority="2"/>
        <XLink bitNum="1" dir="out" node="32770" number="4"/>
      </Pin>
      <Pin name="0:X0D18">
        <Port bitNum="2" core="0" name="XS1_PORT_4D" node="32770" priority="0"/>
        <Port bitNum="4" core="0" name="XS1_PORT_8B" node="32770" priority="1"/>
        <Port bitNum="12" core="0" name="XS1_PORT_16A" node="32770" priority="2"/>
        <XLink bitNum="2" dir="out" node="32770" number="4"/>
      </Pin>
      <Pin name="0:X0D19">
        <Port bitNum="3" core="0" name="XS1_PORT_4D" node="32770" priority="0"/>
        <Port bitNum="5" core="0" name="XS1_PORT_8B" node="32770" priority="1"/>
        <Port bitNum="13" core="0" name="XS1_PORT_16A" node="32770" priority="2"/>
        <XLink bitNum="3" dir="out" node="32770" number="4"/>
      </Pin>
      <Pin name="0:X0D20">
        <Port bitNum="2" core="0" name="XS1_PORT_4C" node="32770" priority="0"/>
        <Port bitNum="6" core="0" name="XS1_PORT_8B" node="32770" priority="1"/>
        <Port bitNum="14" core="0" name="XS1_PORT_16A" node="32770" priority="2"/>
        <Port bitNum="30" core="0" name="XS1_PORT_32A" node="32770" priority="3"/>
        <XLink bitNum="4" dir="out" node="32770" number="4"/>
      </Pin>
      <Pin name="0:X0D21">
        <Port bitNum="3" core="0" name="XS1_PORT_4C" node="32770" priority="0"/>
        <Port bitNum="7" core="0" name="XS1_PORT_8B" node="32770" priority="1"/>
        <Port bitNum="15" core="0" name="XS1_PORT_16A" node="32770" priority="2"/>
        <Port bitNum="31" core="0" name="XS1_PORT_32A" node="32770" priority="3"/>
        <XLink bitNum="4" dir="in" node="32770" number="5"/>
      </Pin>
      <Pin name="0:X0D22">
        <Port bitNum="0" core="0" name="XS1_PORT_1G" node="32770" priority="0"/>
        <XLink bitNum="2" dir="in" node="32770" number="7"/>
      </Pin>
      <Pin name="0:X0D23">
        <Port bitNum="0" core="0" name="XS1_PORT_1H" node="32770" priority="0"/>
        <XLink bitNum="1" dir="in" node="32770" number="7"/>
      </Pin>
      <Pin name="0:X0D24">
        <Port bitNum="0" core="0" name="XS1_PORT_1I" node="32770" priority="0"/>
        <XLink bitNum="4" dir="in" node="32770" number="3"/>
      </Pin>
      <Pin name="0:X0D25">
        <Port bitNum="0" core="0" name="XS1_PORT_1J" node="32770" priority="0"/>
        <XLink bitNum="3" dir="in" node="32770" number="3"/>
      </Pin>
      <Pin name="0:X0D26">
        <Port bitNum="0" core="0" name="XS1_PORT_4E" node="32770" priority="0"/>
        <Port bitNum="0" core="0" name="XS1_PORT_8C" node="32770" priority="1"/>
        <Port bitNum="0" core="0" name="XS1_PORT_16B" node="32770" priority="2"/>
        <XLink bitNum="2" dir="in" node="32770" number="3"/>
      </Pin>
      <Pin name="0:X0D27">
        <Port bitNum="1" core="0" name="XS1_PORT_4E" node="32770" priority="0"/>
        <Port bitNum="1" core="0" name="XS1_PORT_8C" node="32770" priority="1"/>
        <Port bitNum="1" core="0" name="XS1_PORT_16B" node="32770" priority="2"/>
        <XLink bitNum="1" dir="in" node="32770" number="3"/>
      </Pin>
      <Pin name="0:X0D28">
        <Port bitNum="0" core="0" name="XS1_PORT_4F" node="32770" priority="0"/>
        <Port bitNum="2" core="0" name="XS1_PORT_8C" node="32770" priority="1"/>
        <Port bitNum="2" core="0" name="XS1_PORT_16B" node="32770" priority="2"/>
        <XLink bitNum="0" dir="in" node="32770" number="3"/>
      </Pin>
      <Pin name="0:X0D29">
        <Port bitNum="1" core="0" name="XS1_PORT_4F" node="32770" priority="0"/>
        <Port bitNum="3" core="0" name="XS1_PORT_8C" node="32770" priority="1"/>
        <Port bitNum="3" core="0" name="XS1_PORT_16B" node="32770" priority="2"/>
        <XLink bitNum="0" dir="out" node="32770" number="3"/>
      </Pin>
      <Pin name="0:X0D30">
        <Port bitNum="2" core="0" name="XS1_PORT_4F" node="32770" priority="0"/>
        <Port bitNum="4" core="0" name="XS1_PORT_8C" node="32770" priority="1"/>
        <Port bitNum="4" core="0" name="XS1_PORT_16B" node="32770" priority="2"/>
      </Pin>
      <Pin name="0:X0D31">
        <Port bitNum="3" core="0" name="XS1_PORT_4F" node="32770" priority="0"/>
        <Port bitNum="5" core="0" name="XS1_PORT_8C" node="32770" priority="1"/>
        <Port bitNum="5" core="0" name="XS1_PORT_16B" node="32770" priority="2"/>
      </Pin>
      <Pin name="0:X0D32">
        <Port bitNum="2" core="0" name="XS1_PORT_4E" node="32770" priority="0"/>
        <Port bitNum="6" core="0" name="XS1_PORT_8C" node="32770" priority="1"/>
        <Port bitNum="6" core="0" name="XS1_PORT_16B" node="32770" priority="2"/>
      </Pin>
      <Pin name="0:X0D33">
        <Port bitNum="3" core="0" name="XS1_PORT_4E" node="32770" priority="0"/>
        <Port bitNum="7" core="0" name="XS1_PORT_8C" node="32770" priority="1"/>
        <Port bitNum="7" core="0" name="XS1_PORT_16B" node="32770" priority="2"/>
      </Pin>
      <Pin name="0:X0D34">
        <Port bitNum="0" core="0" name="XS1_PORT_1K" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X0D35">
        <Port bitNum="0" core="0" name="XS1_PORT_1L" node="32770" priority="0"/>
        <XLink bitNum="1" dir="out" node="32770" number="3"/>
      </Pin>
      <Pin name="0:X0D36">
        <Port bitNum="0" core="0" name="XS1_PORT_1M" node="32770" priority="0"/>
        <Port bitNum="0" core="0" name="XS1_PORT_8D" node="32770" priority="1"/>
        <Port bitNum="8" core="0" name="XS1_PORT_16B" node="32770" priority="2"/>
        <XLink bitNum="2" dir="out" node="32770" number="3"/>
      </Pin>
      <Pin name="0:X0D37">
        <Port bitNum="0" core="0" name="XS1_PORT_1N" node="32770" priority="0"/>
        <Port bitNum="1" core="0" name="XS1_PORT_8D" node="32770" priority="1"/>
        <Port bitNum="9" core="0" name="XS1_PORT_16B" node="32770" priority="2"/>
        <XLink bitNum="3" dir="out" node="32770" number="3"/>
      </Pin>
      <Pin name="0:X0D38">
        <Port bitNum="0" core="0" name="XS1_PORT_1O" node="32770" priority="0"/>
        <Port bitNum="2" core="0" name="XS1_PORT_8D" node="32770" priority="1"/>
        <Port bitNum="10" core="0" name="XS1_PORT_16B" node="32770" priority="2"/>
        <XLink bitNum="4" dir="out" node="32770" number="3"/>
      </Pin>
      <Pin name="0:X0D39">
        <Port bitNum="0" core="0" name="XS1_PORT_1P" node="32770" priority="0"/>
        <Port bitNum="3" core="0" name="XS1_PORT_8D" node="32770" priority="1"/>
        <Port bitNum="11" core="0" name="XS1_PORT_16B" node="32770" priority="2"/>
      </Pin>
      <Pin name="0:X0D40">
        <Port bitNum="4" core="0" name="XS1_PORT_8D" node="32770" priority="0"/>
        <Port bitNum="12" core="0" name="XS1_PORT_16B" node="32770" priority="1"/>
      </Pin>
      <Pin name="0:X0D41">
        <Port bitNum="5" core="0" name="XS1_PORT_8D" node="32770" priority="0"/>
        <Port bitNum="13" core="0" name="XS1_PORT_16B" node="32770" priority="1"/>
      </Pin>
      <Pin name="0:X0D42">
        <Port bitNum="6" core="0" name="XS1_PORT_8D" node="32770" priority="0"/>
        <Port bitNum="14" core="0" name="XS1_PORT_16B" node="32770" priority="1"/>
      </Pin>
      <Pin name="0:X0D43">
        <Port bitNum="7" core="0" name="XS1_PORT_8D" node="32770" priority="0"/>
        <Port bitNum="15" core="0" name="XS1_PORT_16B" node="32770" priority="1"/>
      </Pin>
      <Pin name="0:X0D49">
        <Port bitNum="0" core="0" name="XS1_PORT_32A" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X0D50">
        <Port bitNum="1" core="0" name="XS1_PORT_32A" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X0D51">
        <Port bitNum="2" core="0" name="XS1_PORT_32A" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X0D52">
        <Port bitNum="3" core="0" name="XS1_PORT_32A" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X0D53">
        <Port bitNum="4" core="0" name="XS1_PORT_32A" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X0D54">
        <Port bitNum="5" core="0" name="XS1_PORT_32A" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X0D55">
        <Port bitNum="6" core="0" name="XS1_PORT_32A" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X0D56">
        <Port bitNum="7" core="0" name="XS1_PORT_32A" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X0D57">
        <Port bitNum="8" core="0" name="XS1_PORT_32A" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X0D58">
        <Port bitNum="9" core="0" name="XS1_PORT_32A" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X0D61">
        <Port bitNum="10" core="0" name="XS1_PORT_32A" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X0D62">
        <Port bitNum="11" core="0" name="XS1_PORT_32A" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X0D63">
        <Port bitNum="12" core="0" name="XS1_PORT_32A" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X0D64">
        <Port bitNum="13" core="0" name="XS1_PORT_32A" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X0D65">
        <Port bitNum="14" core="0" name="XS1_PORT_32A" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X0D66">
        <Port bitNum="15" core="0" name="XS1_PORT_32A" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X0D67">
        <Port bitNum="16" core="0" name="XS1_PORT_32A" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X0D68">
        <Port bitNum="17" core="0" name="XS1_PORT_32A" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X0D69">
        <Port bitNum="18" core="0" name="XS1_PORT_32A" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X0D70">
        <Port bitNum="19" core="0" name="XS1_PORT_32A" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X1D00">
        <Port bitNum="0" core="1" name="XS1_PORT_1A" node="32770" priority="0"/>
        <XLink bitNum="0" dir="out" node="32770" number="6"/>
      </Pin>
      <Pin name="0:X1D01">
        <Port bitNum="0" core="1" name="XS1_PORT_1B" node="32770" priority="0"/>
        <XLink bitNum="1" dir="out" node="32770" number="6"/>
      </Pin>
      <Pin name="0:X1D02">
        <Port bitNum="0" core="1" name="XS1_PORT_4A" node="32770" priority="0"/>
        <Port bitNum="0" core="1" name="XS1_PORT_8A" node="32770" priority="1"/>
        <Port bitNum="0" core="1" name="XS1_PORT_16A" node="32770" priority="2"/>
        <Port bitNum="20" core="1" name="XS1_PORT_32A" node="32770" priority="3"/>
        <XLink bitNum="3" dir="out" node="32770" number="5"/>
      </Pin>
      <Pin name="0:X1D03">
        <Port bitNum="1" core="1" name="XS1_PORT_4A" node="32770" priority="0"/>
        <Port bitNum="1" core="1" name="XS1_PORT_8A" node="32770" priority="1"/>
        <Port bitNum="1" core="1" name="XS1_PORT_16A" node="32770" priority="2"/>
        <Port bitNum="21" core="1" name="XS1_PORT_32A" node="32770" priority="3"/>
        <XLink bitNum="4" dir="out" node="32770" number="5"/>
      </Pin>
      <Pin name="0:X1D04">
        <Port bitNum="0" core="1" name="XS1_PORT_4B" node="32770" priority="0"/>
        <Port bitNum="2" core="1" name="XS1_PORT_8A" node="32770" priority="1"/>
        <Port bitNum="2" core="1" name="XS1_PORT_16A" node="32770" priority="2"/>
        <Port bitNum="22" core="1" name="XS1_PORT_32A" node="32770" priority="3"/>
        <XLink bitNum="4" dir="in" node="32770" number="6"/>
      </Pin>
      <Pin name="0:X1D05">
        <Port bitNum="1" core="1" name="XS1_PORT_4B" node="32770" priority="0"/>
        <Port bitNum="3" core="1" name="XS1_PORT_8A" node="32770" priority="1"/>
        <Port bitNum="3" core="1" name="XS1_PORT_16A" node="32770" priority="2"/>
        <Port bitNum="23" core="1" name="XS1_PORT_32A" node="32770" priority="3"/>
        <XLink bitNum="3" dir="in" node="32770" number="6"/>
      </Pin>
      <Pin name="0:X1D06">
        <Port bitNum="2" core="1" name="XS1_PORT_4B" node="32770" priority="0"/>
        <Port bitNum="4" core="1" name="XS1_PORT_8A" node="32770" priority="1"/>
        <Port bitNum="4" core="1" name="XS1_PORT_16A" node="32770" priority="2"/>
        <Port bitNum="24" core="1" name="XS1_PORT_32A" node="32770" priority="3"/>
        <XLink bitNum="2" dir="in" node="32770" number="6"/>
      </Pin>
      <Pin name="0:X1D07">
        <Port bitNum="3" core="1" name="XS1_PORT_4B" node="32770" priority="0"/>
        <Port bitNum="5" core="1" name="XS1_PORT_8A" node="32770" priority="1"/>
        <Port bitNum="5" core="1" name="XS1_PORT_16A" node="32770" priority="2"/>
        <Port bitNum="25" core="1" name="XS1_PORT_32A" node="32770" priority="3"/>
        <XLink bitNum="1" dir="in" node="32770" number="6"/>
      </Pin>
      <Pin name="0:X1D08">
        <Port bitNum="2" core="1" name="XS1_PORT_4A" node="32770" priority="0"/>
        <Port bitNum="6" core="1" name="XS1_PORT_8A" node="32770" priority="1"/>
        <Port bitNum="6" core="1" name="XS1_PORT_16A" node="32770" priority="2"/>
        <Port bitNum="26" core="1" name="XS1_PORT_32A" node="32770" priority="3"/>
        <XLink bitNum="0" dir="in" node="32770" number="6"/>
      </Pin>
      <Pin name="0:X1D09">
        <Port bitNum="3" core="1" name="XS1_PORT_4A" node="32770" priority="0"/>
        <Port bitNum="7" core="1" name="XS1_PORT_8A" node="32770" priority="1"/>
        <Port bitNum="7" core="1" name="XS1_PORT_16A" node="32770" priority="2"/>
        <Port bitNum="27" core="1" name="XS1_PORT_32A" node="32770" priority="3"/>
        <XLink bitNum="2" dir="out" node="32770" number="6"/>
      </Pin>
      <Pin name="0:X1D10">
        <Port bitNum="0" core="1" name="XS1_PORT_1C" node="32770" priority="0"/>
        <XLink bitNum="3" dir="out" node="32770" number="6"/>
      </Pin>
      <Pin name="0:X1D11">
        <Port bitNum="0" core="1" name="XS1_PORT_1D" node="32770" priority="0"/>
        <XLink bitNum="4" dir="out" node="32770" number="6"/>
      </Pin>
      <Pin name="0:X1D12">
        <Port bitNum="0" core="1" name="XS1_PORT_1E" node="32770" priority="0"/>
        <XLink bitNum="3" dir="out" node="32770" number="7"/>
      </Pin>
      <Pin name="0:X1D13">
        <Port bitNum="0" core="1" name="XS1_PORT_1F" node="32770" priority="0"/>
        <XLink bitNum="4" dir="in" node="32770" number="0"/>
      </Pin>
      <Pin name="0:X1D14">
        <Port bitNum="0" core="1" name="XS1_PORT_4C" node="32770" priority="0"/>
        <Port bitNum="0" core="1" name="XS1_PORT_8B" node="32770" priority="1"/>
        <Port bitNum="8" core="1" name="XS1_PORT_16A" node="32770" priority="2"/>
        <Port bitNum="28" core="1" name="XS1_PORT_32A" node="32770" priority="3"/>
        <XLink bitNum="3" dir="in" node="32770" number="0"/>
      </Pin>
      <Pin name="0:X1D15">
        <Port bitNum="1" core="1" name="XS1_PORT_4C" node="32770" priority="0"/>
        <Port bitNum="1" core="1" name="XS1_PORT_8B" node="32770" priority="1"/>
        <Port bitNum="9" core="1" name="XS1_PORT_16A" node="32770" priority="2"/>
        <Port bitNum="29" core="1" name="XS1_PORT_32A" node="32770" priority="3"/>
        <XLink bitNum="2" dir="in" node="32770" number="0"/>
      </Pin>
      <Pin name="0:X1D16">
        <Port bitNum="0" core="1" name="XS1_PORT_4D" node="32770" priority="0"/>
        <Port bitNum="2" core="1" name="XS1_PORT_8B" node="32770" priority="1"/>
        <Port bitNum="10" core="1" name="XS1_PORT_16A" node="32770" priority="2"/>
        <XLink bitNum="1" dir="in" node="32770" number="0"/>
      </Pin>
      <Pin name="0:X1D17">
        <Port bitNum="1" core="1" name="XS1_PORT_4D" node="32770" priority="0"/>
        <Port bitNum="3" core="1" name="XS1_PORT_8B" node="32770" priority="1"/>
        <Port bitNum="11" core="1" name="XS1_PORT_16A" node="32770" priority="2"/>
        <XLink bitNum="0" dir="in" node="32770" number="0"/>
      </Pin>
      <Pin name="0:X1D18">
        <Port bitNum="2" core="1" name="XS1_PORT_4D" node="32770" priority="0"/>
        <Port bitNum="4" core="1" name="XS1_PORT_8B" node="32770" priority="1"/>
        <Port bitNum="12" core="1" name="XS1_PORT_16A" node="32770" priority="2"/>
        <XLink bitNum="0" dir="out" node="32770" number="0"/>
      </Pin>
      <Pin name="0:X1D19">
        <Port bitNum="3" core="1" name="XS1_PORT_4D" node="32770" priority="0"/>
        <Port bitNum="5" core="1" name="XS1_PORT_8B" node="32770" priority="1"/>
        <Port bitNum="13" core="1" name="XS1_PORT_16A" node="32770" priority="2"/>
        <XLink bitNum="1" dir="out" node="32770" number="0"/>
      </Pin>
      <Pin name="0:X1D20">
        <Port bitNum="2" core="1" name="XS1_PORT_4C" node="32770" priority="0"/>
        <Port bitNum="6" core="1" name="XS1_PORT_8B" node="32770" priority="1"/>
        <Port bitNum="14" core="1" name="XS1_PORT_16A" node="32770" priority="2"/>
        <Port bitNum="30" core="1" name="XS1_PORT_32A" node="32770" priority="3"/>
        <XLink bitNum="2" dir="out" node="32770" number="0"/>
      </Pin>
      <Pin name="0:X1D21">
        <Port bitNum="3" core="1" name="XS1_PORT_4C" node="32770" priority="0"/>
        <Port bitNum="7" core="1" name="XS1_PORT_8B" node="32770" priority="1"/>
        <Port bitNum="15" core="1" name="XS1_PORT_16A" node="32770" priority="2"/>
        <Port bitNum="31" core="1" name="XS1_PORT_32A" node="32770" priority="3"/>
        <XLink bitNum="3" dir="out" node="32770" number="0"/>
      </Pin>
      <Pin name="0:X1D22">
        <Port bitNum="0" core="1" name="XS1_PORT_1G" node="32770" priority="0"/>
        <XLink bitNum="4" dir="out" node="32770" number="0"/>
      </Pin>
      <Pin name="0:X1D23">
        <Port bitNum="0" core="1" name="XS1_PORT_1H" node="32770" priority="0"/>
        <XLink bitNum="4" dir="out" node="32770" number="7"/>
      </Pin>
      <Pin name="0:X1D24">
        <Port bitNum="0" core="1" name="XS1_PORT_1I" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X1D25">
        <Port bitNum="0" core="1" name="XS1_PORT_1J" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X1D26">
        <Port bitNum="0" core="1" name="XS1_PORT_4E" node="32770" priority="0"/>
        <Port bitNum="0" core="1" name="XS1_PORT_8C" node="32770" priority="1"/>
        <Port bitNum="0" core="1" name="XS1_PORT_16B" node="32770" priority="2"/>
      </Pin>
      <Pin name="0:X1D27">
        <Port bitNum="1" core="1" name="XS1_PORT_4E" node="32770" priority="0"/>
        <Port bitNum="1" core="1" name="XS1_PORT_8C" node="32770" priority="1"/>
        <Port bitNum="1" core="1" name="XS1_PORT_16B" node="32770" priority="2"/>
      </Pin>
      <Pin name="0:X1D28">
        <Port bitNum="0" core="1" name="XS1_PORT_4F" node="32770" priority="0"/>
        <Port bitNum="2" core="1" name="XS1_PORT_8C" node="32770" priority="1"/>
        <Port bitNum="2" core="1" name="XS1_PORT_16B" node="32770" priority="2"/>
      </Pin>
      <Pin name="0:X1D29">
        <Port bitNum="1" core="1" name="XS1_PORT_4F" node="32770" priority="0"/>
        <Port bitNum="3" core="1" name="XS1_PORT_8C" node="32770" priority="1"/>
        <Port bitNum="3" core="1" name="XS1_PORT_16B" node="32770" priority="2"/>
      </Pin>
      <Pin name="0:X1D30">
        <Port bitNum="2" core="1" name="XS1_PORT_4F" node="32770" priority="0"/>
        <Port bitNum="4" core="1" name="XS1_PORT_8C" node="32770" priority="1"/>
        <Port bitNum="4" core="1" name="XS1_PORT_16B" node="32770" priority="2"/>
      </Pin>
      <Pin name="0:X1D31">
        <Port bitNum="3" core="1" name="XS1_PORT_4F" node="32770" priority="0"/>
        <Port bitNum="5" core="1" name="XS1_PORT_8C" node="32770" priority="1"/>
        <Port bitNum="5" core="1" name="XS1_PORT_16B" node="32770" priority="2"/>
      </Pin>
      <Pin name="0:X1D32">
        <Port bitNum="2" core="1" name="XS1_PORT_4E" node="32770" priority="0"/>
        <Port bitNum="6" core="1" name="XS1_PORT_8C" node="32770" priority="1"/>
        <Port bitNum="6" core="1" name="XS1_PORT_16B" node="32770" priority="2"/>
      </Pin>
      <Pin name="0:X1D33">
        <Port bitNum="3" core="1" name="XS1_PORT_4E" node="32770" priority="0"/>
        <Port bitNum="7" core="1" name="XS1_PORT_8C" node="32770" priority="1"/>
        <Port bitNum="7" core="1" name="XS1_PORT_16B" node="32770" priority="2"/>
      </Pin>
      <Pin name="0:X1D34">
        <Port bitNum="0" core="1" name="XS1_PORT_1K" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X1D35">
        <Port bitNum="0" core="1" name="XS1_PORT_1L" node="32770" priority="0"/>
      </Pin>
      <Pin name="0:X1D36">
        <Port bitNum="0" core="1" name="XS1_PORT_1M" node="32770" priority="0"/>
        <Port bitNum="0" core="1" name="XS1_PORT_8D" node="32770" priority="1"/>
        <Port bitNum="8" core="1" name="XS1_PORT_16B" node="32770" priority="2"/>
        <XLink bitNum="3" dir="in" node="32770" number="5"/>
      </Pin>
      <Pin name="0:X1D37">
        <Port bitNum="0" core="1" name="XS1_PORT_1N" node="32770" priority="0"/>
        <Port bitNum="1" core="1" name="XS1_PORT_8D" node="32770" priority="1"/>
        <Port bitNum="9" core="1" name="XS1_PORT_16B" node="32770" priority="2"/>
        <XLink bitNum="2" dir="in" node="32770" number="5"/>
      </Pin>
      <Pin name="0:X1D38">
        <Port bitNum="0" core="1" name="XS1_PORT_1O" node="32770" priority="0"/>
        <Port bitNum="2" core="1" name="XS1_PORT_8D" node="32770" priority="1"/>
        <Port bitNum="10" core="1" name="XS1_PORT_16B" node="32770" priority="2"/>
        <XLink bitNum="1" dir="in" node="32770" number="5"/>
      </Pin>
      <Pin name="0:X1D39">
        <Port bitNum="0" core="1" name="XS1_PORT_1P" node="32770" priority="0"/>
        <Port bitNum="3" core="1" name="XS1_PORT_8D" node="32770" priority="1"/>
        <Port bitNum="11" core="1" name="XS1_PORT_16B" node="32770" priority="2"/>
        <XLink bitNum="0" dir="in" node="32770" number="5"/>
      </Pin>
      <Pin name="0:X1D40">
        <Port bitNum="4" core="1" name="XS1_PORT_8D" node="32770" priority="0"/>
        <Port bitNum="12" core="1" name="XS1_PORT_16B" node="32770" priority="1"/>
        <XLink bitNum="0" dir="out" node="32770" number="5"/>
      </Pin>
      <Pin name="0:X1D41">
        <Port bitNum="5" core="1" name="XS1_PORT_8D" node="32770" priority="0"/>
        <Port bitNum="13" core="1" name="XS1_PORT_16B" node="32770" priority="1"/>
        <XLink bitNum="1" dir="out" node="32770" number="5"/>
      </Pin>
      <Pin name="0:X1D42">
        <Port bitNum="6" core="1" name="XS1_PORT_8D" node="32770" priority="0"/>
        <Port bitNum="14" core="1" name="XS1_PORT_16B" node="32770" priority="1"/>
        <XLink bitNum="2" dir="out" node="32770" number="5"/>
      </Pin>
      <Pin name="0:X1D43">
        <Port bitNum="7" core="1" name="XS1_PORT_8D" node="32770" priority="0"/>
        <Port bitNum="15" core="1" name="XS1_PORT_16B" node="32770" priority="1"/>
      </Pin>
      <Pin name="0:X1D49">
        <Port bitNum="0" core="1" name="XS1_PORT_32A" node="32770" priority="0"/>
        <XLink bitNum="4" dir="in" node="32770" number="1"/>
      </Pin>
      <Pin name="0:X1D50">
        <Port bitNum="1" core="1" name="XS1_PORT_32A" node="32770" priority="0"/>
        <XLink bitNum="3" dir="in" node="32770" number="1"/>
      </Pin>
      <Pin name="0:X1D51">
        <Port bitNum="2" core="1" name="XS1_PORT_32A" node="32770" priority="0"/>
        <XLink bitNum="2" dir="in" node="32770" number="1"/>
      </Pin>
      <Pin name="0:X1D52">
        <Port bitNum="3" core="1" name="XS1_PORT_32A" node="32770" priority="0"/>
        <XLink bitNum="1" dir="in" node="32770" number="1"/>
      </Pin>
      <Pin name="0:X1D53">
        <Port bitNum="4" core="1" name="XS1_PORT_32A" node="32770" priority="0"/>
        <XLink bitNum="0" dir="in" node="32770" number="1"/>
      </Pin>
      <Pin name="0:X1D54">
        <Port bitNum="5" core="1" name="XS1_PORT_32A" node="32770" priority="0"/>
        <XLink bitNum="0" dir="out" node="32770" number="1"/>
      </Pin>
      <Pin name="0:X1D55">
        <Port bitNum="6" core="1" name="XS1_PORT_32A" node="32770" priority="0"/>
        <XLink bitNum="1" dir="out" node="32770" number="1"/>
      </Pin>
      <Pin name="0:X1D56">
        <Port bitNum="7" core="1" name="XS1_PORT_32A" node="32770" priority="0"/>
        <XLink bitNum="2" dir="out" node="32770" number="1"/>
      </Pin>
      <Pin name="0:X1D57">
        <Port bitNum="8" core="1" name="XS1_PORT_32A" node="32770" priority="0"/>
        <XLink bitNum="3" dir="out" node="32770" number="1"/>
      </Pin>
      <Pin name="0:X1D58">
        <Port bitNum="9" core="1" name="XS1_PORT_32A" node="32770" priority="0"/>
        <XLink bitNum="4" dir="out" node="32770" number="1"/>
      </Pin>
      <Pin name="0:X1D61">
        <Port bitNum="10" core="1" name="XS1_PORT_32A" node="32770" priority="0"/>
        <XLink bitNum="4" dir="in" node="32770" number="2"/>
      </Pin>
      <Pin name="0:X1D62">
        <Port bitNum="11" core="1" name="XS1_PORT_32A" node="32770" priority="0"/>
        <XLink bitNum="3" dir="in" node="32770" number="2"/>
      </Pin>
      <Pin name="0:X1D63">
        <Port bitNum="12" core="1" name="XS1_PORT_32A" node="32770" priority="0"/>
        <XLink bitNum="2" dir="in" node="32770" number="2"/>
      </Pin>
      <Pin name="0:X1D64">
        <Port bitNum="13" core="1" name="XS1_PORT_32A" node="32770" priority="0"/>
        <XLink bitNum="1" dir="in" node="32770" number="2"/>
      </Pin>
      <Pin name="0:X1D65">
        <Port bitNum="14" core="1" name="XS1_PORT_32A" node="32770" priority="0"/>
        <XLink bitNum="0" dir="in" node="32770" number="2"/>
      </Pin>
      <Pin name="0:X1D66">
        <Port bitNum="15" core="1" name="XS1_PORT_32A" node="32770" priority="0"/>
        <XLink bitNum="0" dir="out" node="32770" number="2"/>
      </Pin>
      <Pin name="0:X1D67">
        <Port bitNum="16" core="1" name="XS1_PORT_32A" node="32770" priority="0"/>
        <XLink bitNum="1" dir="out" node="32770" number="2"/>
      </Pin>
      <Pin name="0:X1D68">
        <Port bitNum="17" core="1" name="XS1_PORT_32A" node="32770" priority="0"/>
        <XLink bitNum="2" dir="out" node="32770" number="2"/>
      </Pin>
      <Pin name="0:X1D69">
        <Port bitNum="18" core="1" name="XS1_PORT_32A" node="32770" priority="0"/>
        <XLink bitNum="3" dir="out" node="32770" number="2"/>
      </Pin>
      <Pin name="0:X1D70">
        <Port bitNum="19" core="1" name="XS1_PORT_32A" node="32770" priority="0"/>
        <XLink bitNum="4" dir="out" node="32770" number="2"/>
      </Pin>
    </Pins>
  </System>
</XSystem>
