/* no longer needed */
/* This rule allows scrolling the navigation menu on mobile
@media (max-width: 67em) {
    .sidebar-drawer {
        overflow-y: scroll;
    }
} */

/* no longer needed */
/* this helps with the sticky sidebar scrolling focus issues
.sidebar-sticky, .toc-sticky {
    height: auto;
} */


h1, h2, h3, h4, h5, h6{
  font-weight: 300;
}

table.docutils td p{
	font-size: x-small
}

table.docutils th p{
	font-size: small;
	font-weight: 300;
}